.game {
  background: var(--color-bg-game);
  box-shadow: inset 0 0 5px 2px var(--color-shadow);
  border-radius: 5px;
}

.wrapper {
  position: relative;
  grid-area: game;
}

.wrapperScores {
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  display: flex;
  gap: 3em;
  justify-content: center;
  font-size: 2.5em;
  font-weight: 700;
  color: var(--color-white);
}
