.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input {
  border: none;
  background: var(--color-bg-secondary);
  padding: 0.7em;
  box-shadow: 0 0 5px var(--color-shadow);

  &:invalid {
    outline: 1px solid var(--color-red);

    & + p {
      color: var(--color-red);
    }
  }
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.35em;
}

.undertext {
  color: var(--color-green);
  font-size: 0.8em;
}
