.table {
  grid-area: tablePlayers;
  background: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 2px;
  width: 12em;
  overflow: hidden;
  box-shadow: 0 0 5px var(--color-shadow);
}
