@use '../styles/variables';

.nav {
  height: 3.5em;
  background: var(--color-bg-secondary);
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 11em;
}

.index,
.about,
.signin {
  text-decoration: none;
  color: var(--color-text);

  &:hover {
    color: var(--color-blue);
  }
}

.index {
  font-size: 1.5em;
  font-weight: bold;
}

.spacer {
  flex-grow: 1;
  align-self: stretch;
}
