.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-red);
  width: 500px;
  height: 200px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
}

.visible {
  opacity: 1;
  pointer-events: initial;
}
