.wrapper {
  border: 2px solid var(--color-red);
  padding: 1em 3em;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 50%;
  transform: translate(-50%, -4.5em);
  transition: transform 250ms ease-in-out;
  pointer-events: none;
  background: var(--color-bg-secondary);
  background: var(--color-red);
  color: var(--color-red);
  color: var(--color-text);
}

.visible {
  pointer-events: initial;
  transform: translate(-50%, 4.5em);
}
