.btnDone {
  background: var(--color-blue);
  border: none;
  padding: 0.5em 2.5em;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  transition: none;

  &:hover {
    background: var(--color-blue-dark);
  }
}
