.carousel {
  padding: 1em;
  background: var(--color-bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerJets {
  display: flex;
  overflow: hidden;
  margin: 0 1em;
  margin-left: calc(1em - 7px);
  padding-left: 7px;
  gap: 1em;
}
