.selectJet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  position: fixed;
  width: 30em;
  padding: 2.5em;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-bg-secondary);
  // transform: translateX(25em);
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: translateX(0);
  }
}
