.selectJet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
  position: fixed;
  z-index: 2;
  width: 30em;
  padding: 2.5em;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-bg-secondary);
  transform: translateX(30em);
  transition: transform 0.5s cubic-bezier(0.15, 0.77, 0.57, 1);
}

.isOpen {
  transform: translateX(0);
}
