.table {
  border-radius: 5px;
  background: var(--color-bg-secondary);
  overflow: hidden;
  grid-area: tablePlayers;
  box-shadow: 0 0 5px var(--color-shadow);

  tr {
    &:first-child {
      border-bottom: 2px solid var(--color-bg-primary);
    }

    &:last-child {
      border-top: 2px solid var(--color-bg-primary);
    }
  }

  td {
    vertical-align: middle;
  }
}

.textLight {
  color: var(--color-text);
  opacity: 0.4;
  display: inline-block;
  padding-left: 0.5em;
}

.name {
  padding-left: 1em;
  color: var(--color-green);
}

.score {
  width: 15%;
  text-align: center;
}

.ready {
  width: 25%;
  text-align: center;
  background: var(--color-green);
  color: var(--color-white);
}

.bgGreen {
  background: var(--color-green);
}

.bgRed {
  background: var(--color-red);
}

.textGreen {
  color: var(--color-green);
}

.textRed {
  color: var(--color-red);
}
