.wrapper {
  background: var(--color-bg-secondary);
  border-radius: 5px;
  padding: 1em 3em 1em 1em;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px var(--color-shadow);
}

.wrapperJet {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.wrapperTypeJet {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.games {
  opacity: 0.8;
  font-size: 0.8em;
}

.stats {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.wins {
  color: var(--color-green);
}

.loses {
  color: var(--color-red);
}
