.nav {
  height: 3.5em;
  background: var(--color-bg-secondary);
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 6em;
  z-index: 100;
  position: relative;
  box-shadow: 0 0 5px var(--color-shadow);
}

.index,
.about,
.signin {
  text-decoration: none;
  color: var(--color-text);
  flex-shrink: 0;

  &:hover,
  &:focus {
    color: var(--color-blue);
    outline: none;
  }
}

.index {
  font-size: 1.5em;
  font-weight: bold;
}

.spacer {
  flex-grow: 1;
  align-self: stretch;
}
