.btn {
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
  background: var(--color-green);
  font-size: 1.2em;
  color: var(--color-white);
  box-shadow: 0 4px 0 var(--color-shadow-box);
  cursor: pointer;
  grid-area: btnReady;
  transition: none;

  &:hover {
    background: var(--color-green-dark);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 var(--color-shadow-box);
  }

  &:disabled {
    transform: translateY(2px);
    box-shadow: 0 2px 0 var(--color-shadow-box);
    background: var(--color-green-dark);
  }
}
