@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// helpfull styles
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-height: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

body {
  font-family: Roboto, verdana, sans-serif;
}
