.form {
  grid-area: formId;
}

.input {
  background: var(--color-bg-primary);
  border-radius: 5px;
  text-align: center;
  border: none;
  height: 100%;
  color: var(--color-text);
  width: 100%;

  &:focus {
    outline: 2px solid var(--color-blue);
  }

  &:invalid {
    outline: 1px solid var(--color-red);
  }
}
