.mainWrapper {
  padding: 1em;
  background: var(--color-bg-reverse-secondary-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px var(--color-shadow);
}

.jetsWrapper {
  display: flex;
  overflow: hidden;
  margin: 0 1em;
  margin-left: calc(1em - 7px);
  padding-left: 7px;
  gap: 1em;
}
